/* Reset styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}
.container{
  margin: 0 auto;
  max-width: 1160px;
}

/* Header */

.header {
  background-color: #000000;
  height: 80px;
  position: relative;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;

}
.header__logo{
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.header__logo__title {
  margin-top: 3.5px;
  text-align: center;
}
.header__logo__title a {
  color: #ffffff;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
}
.bamboo-icon {
  cursor: pointer;
  position: absolute;
  top: 22.64px;
  left: 10.23px;
}
.header__menu {
}
.menu__item {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-right: 375px;
}
.menu__list {
}
.menu__link {
  color: #ffffff;
  list-style: none;
  margin: 0 29px;
}
.active {
  color: orange;
}
.designed__link {
}
.designed__link a{
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}


/* Favorite animal */

.favorite_animal{
  background: url("../../assets/images/Giant\ Panda.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: -80px;
  width: 1600px;
  height: 780px;
}
.favorite_animal__container {
}
.circle {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  top: 92px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.favorite_animal__title {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(50% - 500.31px/2 + 330.15px);
  top: 166px;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.favorite_animal__title span {
  color: #FFEE2E;
}
.favorite_animal__buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
}

.favorite_animal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;  
  color: #FFFFFF;
  transition: all .5s ease;
}
.favorite_animal__button:hover {
  background: #E47209;
}

/* The Backstage */

.backstage__flower {
  background-image: url("../../assets/images/flower_foto1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 293px;
  height: 605px;
  top: 792px;
  left: 1395px;
}

.backstage {
  padding-top: 140px;
}
.backstage__container {
  display: flex;
  justify-content: space-between;
}
.backstage__picture {
  background-image: url("../../assets/images/bamboo-cap.png");
  background-repeat: no-repeat;
  width: 609px;
  height: 403px;
}
.backstage__content {
  display: flex;
  flex-direction: column;
  width: 465px;
  height: 400px;
}
.backstage__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  padding-bottom: 20px;
}
.backstage__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding: 54px 0px 34px 0px;
}
.backstage__content:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.backstage__content:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

/* Pets */

.pets {
  padding-top: 180px;
}
.pets__cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 30px;
}
.pets__cards {
  cursor: pointer;
  position: relative;
  border: 1px solid #FE9013;
  border-radius: 5px;
  width: 366px;
  height: 426px;
  overflow: hidden;
}
.pets__cards:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  transition: all .5s ease;
  z-index: 1;
}
.pets__cards:hover:before {
  opacity: 1;
}
.picture {
  border-radius: 5px 5px 0px 0px;
  width: 364px;
  object-fit: cover;
  transition: all .5s ease;
}
.pets__cards:hover .picture {
  transform: scale(1.05);
}
.cards__title {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: all .5s ease;
  color: #000000;
}
.pets__cards:hover .cards__title {
  transform: translateY(-50px);
  color: #ffffff;
}
.cards__name {
  margin: 8px 0px 0px 16px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.country {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.cards__food_banana{
  background-image: url("../../assets/icons/banana-bamboo_icon.svg");
  background-repeat: no-repeat;
  width: 33px;
  height: 37px;
  margin: 10px 12px 0px 0px;
}
.cards__food_meat {
  background-image: url("../../assets/icons/meet-fish_icon.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 38px;
  margin: 8px 8px 0px 0px;
}
.pets__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.pets__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 25px;
  transition: all .5s ease;
  z-index: 1;
}
.pets__button:hover {
  background: #E47209;
}
.pets__buttons_left {
  position: absolute;
  width: 62px;
  height: 62px;
  right: 1400px;
  top: 1906px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.pets__button_left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  transition: all .5s ease;
  z-index: 1;
}
.pets__button_left:hover {
  background: #E47209;
}
.pets__buttons_right {
  position: absolute;
  width: 62px;
  height: 62px;
  right: 140px;
  top: 1906px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transition: all .5s ease;
}
.pets__button_right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  transition: all .5s ease;
  z-index: 1;
}
.pets__button_right:hover {
  background: #E47209;
}
.pets_flower1{
  background: url("../../assets/images/palm_photo.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 880px;
  height: 460px;
  left: 0;
  top: 2149px;
}
.pets_flower2 {
  background: url("../../assets/images/strelitzia1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 368px;
  height: 275px;
  right: 0;
  top: 2334px;
}