@import '../libs/normalize.css';

.wrapper {
  background-color: #2d2d2d;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
}
.header {
  height: 150px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  margin-top: 20px;
  height: 60px;
  width: 220px;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.menu__link {
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
  transition: all .5s ease;
}
.menu__link:hover {
  color: #00bc8c;
}
.content__container {
  text-align: center;
}
.content__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  margin: 30px 0 50px 0;
}
.content__title span {
  color: #00bc8c;
}
@keyframes move-right {
  from {left: -1200px;}
  to {left: -2400px;}
}
.transition-right {
  animation-name: move-right;
  animation-duration: .9s;
}
@keyframes move-left {
  from {left: -1200px;}
  to {left: 0px;}
}
.transition-left {
  animation-name: move-left;
  animation-duration: .9s;
}
.content__slider__wrapper {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.content__slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -1200px;
}
.content__slider__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 51px;
}
.content__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 2px solid #00bc8c;
  border-radius: 5px;
  width: 366px;
  height: 286px;
  overflow: hidden;
}
.content__play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__play_link {
  background-color: #2d2d2d;
  width: 248px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  transition: all .5s ease;
}
.content__play_link:hover {
  background-color: #00bc8c;
}
.content__button {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.content__btn_left,
.content__btn_right {
  cursor: pointer;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all .5s ease;
}
.content__btn_left:hover,
.content__btn_right:hover {
  background-color: #00bc8c;
}
.footer {
  height: 60px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 150px;
}
.footer__date {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.footer__school {
  width: 85px;
}
.footer__author_link {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  transition: all .5s ease;
}
.footer__author_link:hover {
  color: #00bc8c;
}


@media screen and (max-width: 1280px) {
 
  .container{
    width: calc(100% - 30px);
  }
  .content__slider__wrapper {
    margin: 0 auto;
    max-width: 763px;
    height: 300px;
  }
  .content__slider {
    left: -763px;
  }
  .content__slider__body {
    gap: 31px;
  }
  .content__slider__body :nth-child(3) {
    display: none;
  }
  @keyframes move-right {
    from {left: -763px;}
    to {left: -1526px;}
  }

  @keyframes move-left {
    from {left: -763px;}
    to {left: 0px;}
  }

}

@media screen and (max-width: 800px) {
 
  .container{
    width: calc(100% - 20px);
  }
  .content__slider__wrapper {
    margin: 0 auto;
    max-width: 366px;
    height: 300px;
  }
  .content__slider {
    left: -366px;
  }
  .content__slider__body {
    gap: 31px;
  }
  .content__slider__body :nth-child(2) {
    display: none;
  }
  @keyframes move-right {
    from {left: -366px;}
    to {left: -732px;}
  }

  @keyframes move-left {
    from {left: -366px;}
    to {left: 0px;}
  }

}

@media screen and (max-width: 590px) {
 
  .container{
    width: calc(100% - 20px);
  }
  .header {
    height: 100px;
  }
  .content__slider__wrapper {
    margin: 0 auto;
    max-width: 336px;
    height: 300px;
  }
  .content__slider {
    left: -336px;
  }
  .content__cards {
    width: 336px;
  }
  @keyframes move-right {
    from {left: -336px;}
    to {left: -672px;}
  }

  @keyframes move-left {
    from {left: -336px;}
    to {left: 0px;}
  }

  .menu__item {
    display: none;
  }
  .footer__container {
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__author {
    flex: 0 1 100%;
    order: 1;
  }
  .footer__school {
    max-width: 85px;
    flex: 0 1 50%;
    order: 2;
  }
  .footer__date {
    flex: 0 1 50%;
    order: 2;
  }
}